fsl/data/xml/startupDescriptor.dtd

<!ELEMENT startupDescriptor (viewElement)*>
<!ELEMENT viewElement (viewElementLink)*>
<!ELEMENT viewElementLink (viewElementLinkTarget)*>
<!ATTLIST viewElementLink id NMTOKEN #REQUIRED>
<!ELEMENT viewElementLinkTarget EMPTY>
<!ATTLIST viewElementLinkTarget targetLearningUnitId NMTOKEN #REQUIRED>
<!ATTLIST viewElementLinkTarget targetViewManagerId NMTOKEN #REQUIRED>
<!ATTLIST viewElementLinkTarget targetViewElementId NMTOKEN #REQUIRED>
