sandbox/CSEImprove/src/CSE/Course.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Course" 
    targetNamespace="http://cse.campussource.de/cse/wsdl/Course"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://cse.campussource.de/cse/wsdl/Course"
    xmlns:crs="http://cse.campussource.de/cse/schema/Course" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://cse.campussource/cse/wsdl/Course">
            <xsd:import namespace="http://cse.campussource.de/cse/schema/Course" schemaLocation="Course.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateCourseOperationRequest">
        <part name="course" element="crs:course"/>
    </message>
    <message name="CreateCourseOperationResponse">
        <part name="result" element="crs:result"/>
    </message>
    <message name="UpdateCourseOperationRequest">
        <part name="course" element="crs:course"/>
    </message>
    <message name="UpdateCourseOperationResponse">
        <part name="result" element="crs:result"/>
    </message>
    <message name="DeleteCourseOperationRequest">
        <part name="course" element="crs:course"/>
    </message>
    <message name="DeleteCourseOperationResponse">
        <part name="result" element="crs:result"/>
    </message>
    <portType name="CoursePortType">
        <operation name="createCourse">
            <input name="inputCreateCourse" message="tns:CreateCourseOperationRequest"/>
            <output name="outputCreateCourse" message="tns:CreateCourseOperationResponse"/>
        </operation>
        <operation name="updateCourse">
            <input name="inputUpdateCourse" message="tns:UpdateCourseOperationRequest"/>
            <output name="outputUpdateCourse" message="tns:UpdateCourseOperationResponse"/>
        </operation>
        <operation name="deleteCourse">
            <input name="inputDeleteCourse" message="tns:DeleteCourseOperationRequest"/>
            <output name="outputDeleteCourse" message="tns:DeleteCourseOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="Course">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CoursePortTypeRole" portType="tns:CoursePortType"/>
    </plnk:partnerLinkType>
</definitions>
