sandbox/CSEImprove/src/LSF/LSFSyncMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
	targetNamespace="http://cse.campussource.de/lsf/schema/LSFSynchronizationMessage"
	xmlns:tns="http://cse.campussource.de/lsf/schema/LSFSynchronizationMessage" >
	<xs:element name="abbreviation" type="xs:string"/>
	<xs:element name="academicTitle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Univ.-Prof. Dr. jur."/>
				<xs:enumeration value="Univ.-Prof. Dr. rer. pol."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="account">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lsfId"/>
				<xs:element ref="tns:surname" minOccurs="0"/>
				<xs:element ref="tns:firstName" minOccurs="0"/>
				<xs:element ref="tns:academicTitle" minOccurs="0"/>
				<xs:element ref="tns:gender" minOccurs="0"/>
				<xs:element ref="tns:emailAddress" minOccurs="0"/>
				<xs:element ref="tns:roleName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="accounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:account" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityConfirmation" type="xs:string"/>
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:category"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lsfId"/>
				<xs:element ref="tns:sort"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="children">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tns:lsfId"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lsfId"/>
				<xs:element ref="tns:shortName"/>
				<xs:element ref="tns:name"/>
				<xs:element ref="tns:start"/>
				<xs:element ref="tns:end"/>
				<xs:element ref="tns:lectureStart"/>
				<xs:element ref="tns:lectureEnd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="emailAddress">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="end">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="expectedRegistrations" type="xs:string"/>
	<xs:element name="firstName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bernd"/>
				<xs:enumeration value="Hans"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="M"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="groups" type="xs:string"/>
	<xs:element name="hyperlink" type="xs:string"/>
	<xs:element name="isSyncMessage">
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="kategorie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lsfId"/>
				<xs:element ref="tns:name"/>
				<xs:element ref="tns:children"/>
				<xs:element ref="tns:sort"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lecture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lsfId"/>
				<xs:element ref="tns:logicalNumber"/>
				<xs:element ref="tns:type"/>
				<xs:element ref="tns:title"/>
				<xs:element ref="tns:shortDescription"/>
				<xs:element ref="tns:abbreviation"/>
				<xs:element ref="tns:prerequisites"/>
				<xs:element ref="tns:necessaryAssignment"/>
				<xs:element ref="tns:hyperlink"/>
				<xs:element ref="tns:note"/>
				<xs:element ref="tns:comment"/>
				<xs:element ref="tns:semesterAsInt"/>
				<xs:element ref="tns:semesterPeriodsPerWeek"/>
				<xs:element ref="tns:expectedRegistrations"/>
				<xs:element ref="tns:maximumRegistrations"/>
				<xs:element ref="tns:activityConfirmation"/>
				<xs:element ref="tns:literature"/>
				<xs:element ref="tns:lectureTypeId"/>
				<xs:element ref="tns:semesterAbbr"/>
				<xs:element ref="tns:semesterFull"/>
				<xs:element ref="tns:categories" minOccurs="0"/>
				<xs:element ref="tns:accounts" minOccurs="0"/>
				<xs:element ref="tns:groups"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lectureEnd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lectureStart">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lectureTypeId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lectures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:lecture" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="literature" type="xs:string"/>
	<xs:element name="logicalNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="100000"/>
				<xs:enumeration value="100001"/>
				<xs:enumeration value="100002"/>
				<xs:enumeration value="100003"/>
				<xs:enumeration value="100004"/>
				<xs:enumeration value="100005"/>
				<xs:enumeration value="100006"/>
				<xs:enumeration value="100007"/>
				<xs:enumeration value="100008"/>
				<xs:enumeration value="100009"/>
				<xs:enumeration value="100010"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lsfId">
		<xs:simpleType>
			<xs:restriction base="xs:int">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="maximumRegistrations" type="xs:string"/>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Level1"/>
				<xs:enumeration value="Level1 (deep)"/>
				<xs:enumeration value="Level2 (deep)"/>
				<xs:enumeration value="Level3 (deep)"/>
				<xs:enumeration value="Level4 (deep)"/>
				<xs:enumeration value="Level5 (deep)"/>
				<xs:enumeration value="Level6 (deep)"/>
				<xs:enumeration value="Level6-2 (deep)"/>
				<xs:enumeration value="Root-Category"/>
				<xs:enumeration value="Wintersemester 2008/09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="necessaryAssignment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="note" type="xs:string"/>
	<xs:element name="prerequisites" type="xs:string"/>
	<xs:element name="roleName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="dozent"/>
				<xs:enumeration value="student"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="semester">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="semesterAbbr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WS 2008/09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="semesterAsInt">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="20082"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="semesterFull">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WS 2008/09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="semesterPeriodsPerWeek" type="xs:string"/>
	<xs:element name="shortDescription" type="xs:string"/>
	<xs:element name="shortName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WS 2008/09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sort">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="1000"/>
				<xs:enumeration value="1010"/>
				<xs:enumeration value="1020"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="start">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01.10.2008"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="surname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Becker"/>
				<xs:enumeration value="Hansen"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="synchronizationMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:isSyncMessage"/>
				<xs:element ref="tns:semester"/>
				<xs:element ref="tns:vvz"/>
				<xs:element ref="tns:accounts"/>
				<xs:element ref="tns:lectures"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kurs Nr. 100000"/>
				<xs:enumeration value="Kurs Nr. 100001"/>
				<xs:enumeration value="Kurs Nr. 100002"/>
				<xs:enumeration value="Kurs Nr. 100003"/>
				<xs:enumeration value="Kurs Nr. 100004"/>
				<xs:enumeration value="Kurs Nr. 100005"/>
				<xs:enumeration value="Kurs Nr. 100006"/>
				<xs:enumeration value="Kurs Nr. 100007"/>
				<xs:enumeration value="Kurs Nr. 100008"/>
				<xs:enumeration value="Kurs Nr. 100009"/>
				<xs:enumeration value="Kurs Nr. 100010"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Sonstiges"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vvz">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:kategorie" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="rootKategorieId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
